.subscription {
    &__container {
        text-align: center;
    }

    &__title {
        @include make-h3;
        text-transform: uppercase;
        color: $link;
        margin: 74px 0 4px;
    }

    &__text {
        font-size: 15px;
        line-height: 29px;
        font-weight: 600;
        color: $link;
        margin: 0 0 50px;
    }

    &__list {
        display: flex;
        justify-content: center;
    }

    &__item {
        flex-direction: column;
        width: 460px;
        margin: 0 20px;

        &_free {
            .subscription__item-submit {
                @include btn($size-full);
                @include btn-secondary ($btn-secondary-primary-color, $link);
                margin-top: auto;
            }
        }

        &_yearly {
            .subscription__item-body {
                border: 3px solid #e1d9ef;
                box-shadow: 0px 0px 30px 0px rgba($primary, 0.2);
                border-top: none;
            }

            .subscription__item-submit {
                @include btn($size-full);
                @include btn-primary;
                background-image: none;
                background-color: $btn-secondary-primary-color;
                margin-top: auto;
            }
        }
    }

    &__item-container {
        flex: 1;
    }

    &__item-title {
        width: 100%;
        background-color: $link;
        padding: 14px 0;
        border-radius: 10px 10px 0 0;
        margin: 0;
        color: $white;
        font-family: $Nexa-Heavy;
        text-transform: uppercase;
        @include P20;
        line-height: 48px;
    }

    &__item-body {
        display: flex;
        flex-direction: column;
        min-height: 550px;
        padding: 36px 56px;
        border: 2px solid $btn-secondary-bd-color;
        border-top: none;
        border-radius: 0 0 10px 10px;
    }

    &__item-description {
        font-family: $Nexa-Bold;
        line-height: 1.25;
        color: $card-description;
        margin: 0;
    }

    &__item-price {
        @include make-h2;
        font-family: $Nexa-Bold;
        color: $secondary;
    }

    &__item-price-caption {
        font-size: 18px;
        color: $text-secondary;
        margin-left: 5px;
    }

    &__item-params {
        border-top: 2px solid $line;
        line-height: 50px;
        font-family: $Nexa-Bold;
        color: $text-secondary;
        margin: 0;
    }

    &__item-submit {
        margin-top: auto;
    }

    &__item-submit-icon {
        margin-left: 12px;
    }

    &__item-caption {
        font-family: $Sintony;
        font-size: 18px;
        margin: 28px 0 95px;
        color: $card-caption;
    }

    &__item-counter {
        color: $primary;
        font-size: 20px;
        text-transform: uppercase;
        margin-left: 5px;
    }
}

@media screen and (max-width: 768px) {
    .subscription {
        &__title {
            margin: 40px 12px 0;
        }

        &__text {
            margin: 0 12px 32px;
        }

        &__list {
            flex-direction: column;
        }

        &__item {
            width: 100%;
            padding: 12px;
            margin: 0;
            box-sizing: border-box;

            &_free {
                margin: 0;
            }
        }

        &__item-body {
            min-height: auto;
            padding: 24px;
        }

        &__item-caption {
            margin-bottom: 40px;
        }
    }
}