@mixin make-h0 {
    font-family: $Sintony;
    font-weight: normal;
    font-size: 60px;
    line-height: 48px;
    margin: 0 0 27px 0;
}

@mixin make-h1 {
    font-size: 45px;
    line-height: 48px;
}

@mixin make-h2 {
    font-size: 40px;
    line-height: 48px;
}

@mixin make-h3 {
    font-size: 35px;
    line-height: 48px;
}

@mixin make-h4 {
    font-size: 30px;
    line-height: 48px;
}

@mixin make-h5 {
    font-size: 20px;
    line-height: 22px;
}

@mixin P20 {
    font-size: 20px;
}

