$primary: #a18bcb;
$secondary: #43c4c7;
$white: #ffffff;

$text-primary: #a3adb5;
$text-secondary: #b7bfc5;
$text-paragraph: #abb4bb;

$link: #8e75bd;
$menu-link: #e2d8f3;

$bg-color: #f4f4f3;

$line: #e7eaf1;

$btn-secondary-primary-color: $primary;
$btn-secondary-color: #b1bad0;
$btn-secondary-bd-color: #e7eaf1;