/* fonts */

@font-face {
    font-family: 'Nexa-Regular';
    src: url('../../public/fonts/NexaRegular.eot');
    src: url('../../public/fonts/NexaRegular.eot?#iefix') format('embedded-opentype'),
        url('../../public/fonts/NexaRegular.woff') format('woff'),
        url('../../public/fonts/NexaRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Nexa-Heavy';
    src: url('../../public/fonts/NexaHeavy.eot');
    src: url('../../public/fonts/NexaHeavy.eot?#iefix') format('embedded-opentype'),
        url('../../public/fonts/NexaHeavy.woff') format('woff'),
        url('../../public/fonts/NexaHeavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Nexa-Bold';
	src: url('../../public/fonts/NexaBold.eot');
	src: url('../../public/fonts/NexaBold.eot?#iefix') format('embedded-opentype'),
		url('../../public/fonts/NexaBold.woff2') format('woff2'),
		url('../../public/fonts/NexaBold.woff') format('woff'),
		url('../../public/fonts/NexaBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

$Montserrat: 'Montserrat', sans-serif;
$Sintony: 'Sintony', sans-serif;
$Nexa-Regular: 'Nexa-Regular', sans-serif;
$Nexa-Bold: 'Nexa-Bold', sans-serif;
$Nexa-Heavy: 'Nexa-Heavy', sans-serif;

/* content */

html {
	font-size: 16px;
	font-family: $Montserrat;
}