/* fonts */

@font-face {
    font-family: 'Nexa-Regular';
    src: url('NexaRegular.eot?#iefix') format('embedded-opentype'),
        url('NexaRegular.woff') format('woff'),
        url('NexaRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Nexa-Heavy';
    src: url('NexaHeavy.eot?#iefix') format('embedded-opentype'),
        url('NexaHeavy.woff') format('woff'),
        url('NexaHeavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Nexa-Bold';
    src: url('Nexa-Bold.eot');
    src: local('Nexa Bold'), local('Nexa-Bold'),
        url('Nexa-Bold.eot?#iefix') format('embedded-opentype'),
        url('Nexa-Bold.woff') format('woff'),
        url('Nexa-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

$Montserrat: 'Montserrat', sans-serif;
$Sintony: 'Sintony', sans-serif;
$Nexa-Regular: 'Nexa-Regular', sans-serif;
$Nexa-Bold: 'Nexa-Bold', sans-serif;
$Nexa-Heavy: 'Nexa-Heavy', sans-serif;

/* content */

html {
	font-size: 16px;
	font-family: $Montserrat;
}