.banner
    .banner__container
        include ../includes/header
        h0.banner__title Builder.io
        p.banner__text Builder.io lets you generate unique HTML website templatestalloried for designers.
        button.banner__btn Sign up
        .banner__img
            img(src="src/img/Banner.png", alt="banner-image")
            .banner__img-caption
                .banner__img-caption-title A warm weekend away
                .banner__img-caption-date 24th August 2015
            .banner__edit-icon
            .banner__like 100