.banner
    .banner__container
        h0.banner__title Builder.io
        p.banner__text Builder.io lets you generate unique HTML website templatestalloried for designers.
        button.banner__btn Sign up
        .banner__img
            img(src="src/img/Banner.png", alt="banner-image")