block footer
    footer
        .footer__container
            .layout__wrapper.layout__wrapper_small
                .footer__row
                    .footer__col
                        h5.footer__title Builder.io
                        .footer__menu
                            a(href="#", class="footer__link") Login
                            a(href="#", class="footer__link") Sign Up
                            a(href="#", class="footer__link") Support
                            a(href="#", class="footer__link") Contact Us
                    .footer__col
                        h5.footer__title Company
                        .footer__menu
                            a(href="#", class="footer__link") About Us
                            a(href="#", class="footer__link") Blog
                            a(href="#", class="footer__link") Contact
                    .footer__col
                        h5.footer__title Learning
                        .footer__menu
                            a(href="#", class="footer__link") Support articles
                            a(href="#", class="footer__link") Support documentation
                            a(href="#", class="footer__link") Forum
                            a(href="#", class="footer__link") How To Videos
                .footer__icon