block main-content
	section.main-content
		include ../includes/banner
		section
			.demo__container
				.layout__wrapper.layout__wrapper_small
					.demo__actions
						button.demo__start-btn Get Started
						button.demo__try-btn Try Demo
					h3.demo__title Built for creative folk
					p.demo__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua consectetur ad pisicing elit

		section
			.advantage__container
				.layout__wrapper
					.advantage__list
						.advantage__item
							h3.advantage__title Work with your hands
							p.advantage__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
							button.advantage__btn Create account
						.advantage__item
							h3.advantage__title Optimised for the road
							p.advantage__text Builder not only works great on a desktop or laptop but has also been optimized to be just as easy to use on a table or mobile device
						.advantage__image
		section
			.tariff__container
				.layout__wrapper.layout__wrapper_small
					h3.tariff__title Take a look inside
					p.tariff__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
					.tariff__actions
						button.tariff__paid-btn Take my money
						button.tariff__free-btn Free Account