block main-content
	section.main-content
		include ../includes/banner
		section
			.demo__container
				.layout__wrapper.layout__wrapper_small
					.demo__actions
						button.demo__start-btn Get Started
						button.demo__try-btn Try Demo
					h3.demo__title Built for creative folk
					p.demo__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua consectetur ad pisicing elit

		section
			.advantage__container
				.layout__wrapper
					.advantage__list
						.advantage__item
							h3.advantage__title Work with your hands
							p.advantage__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
							button.advantage__btn Create account
						.advantage__item
							h3.advantage__title Optimised for the road
							p.advantage__text Builder not only works great on a desktop or laptop but has also been optimized to be just as easy to use on a table or mobile device
						.advantage__image
		section
			.tariff__container
				.layout__wrapper.layout__wrapper_small
					h3.tariff__title Take a look inside
					p.tariff__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
					.tariff__actions
						button.tariff__paid-btn Take my money!
						button.tariff__free-btn Free Account
		section
			.video__container
				.video__overlay
					.video__play-btn
		section
			.feature__container
				.layout__wrapper
					.feature__list
						.feature__item
							i(class="fa fa-area-chart feature__img" aria-hidden="true")
							h4.feature__title Pick your layouts
							p.feature__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
							a(href="#", class="feature__link") Create account here
						.feature__item
							i(class="fa fa-archive feature__img" aria-hidden="true")
							h4.feature__title Export
							p.feature__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
							a(href="#", class="feature__link") See pricing
						.feature__item
							i(class="fa fa-arrows-alt feature__img" aria-hidden="true")
							h4.feature__title Edit
							p.feature__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
							a(href="#", class="feature__link") View support documents
		section
			.subscription__container
				h3.subscription__title Choose a Subscription
				p.subscription__text A intrerface built by deigners, for designers. What a clice tag line lol.
				.subscription__list
					.subscription__item.subscription__item_free
						.subscription__item-title
							div Free account
						.subscription__item-body
							.subscription__item-container
								.subscription__item-description Great forgiving it a try or the one off web designer
								h2.subscription__item-price Free
								p.subscription__item-params Save up to 2 layouts
								p.subscription__item-params Export 1 HTML template
								p.subscription__item-params 15 Layout Options
								p.subscription__item-params Tweet to get more layouts
							button.subscription__item-submit
								span Sign up
								span.subscription__item-submit-icon
									i(class="fa fa-check" aria-hidden="true")
						.subscription__item-caption
							span Join
							|
							span.subscription__item-counter 34,293
							|  users
					.subscription__item.subscription__item_yearly
						.subscription__item-title
							div Yearly subscription
						.subscription__item-body
							.subscription__item-container
								.subscription__item-description Great forgiving it a try or the one off web designer
								h2.subscription__item-price &#36;89
									sup.subscription__item-price-caption / Yearly
								p.subscription__item-params Save unlimited layouts
								p.subscription__item-params Export unlimited HTML templates
								p.subscription__item-params Over 30 Layout Options & counting
								p.subscription__item-params New Layouts added monthly
								p.subscription__item-params Learning Documentation
								p.subscription__item-params Something else
							button.subscription__item-submit
								span Sign up
								span.subscription__item-submit-icon
									i(class="fa fa-check" aria-hidden="true")
						.subscription__item-caption
							span Join
							|
							span.subscription__item-counter 1,828
							|  users
		section
			.tablet__container
				.tablet__background
				.tablet__basement
					.tablet__image
		section
			.join__container
				button.join__btn take my money!