doctype html
html(lang="en")
	head
		meta(charset = 'utf-8')
		meta(name='viewport', content="initial-scale=1.0, width=device-width,shrink-to-fit=no")
		link(rel="stylesheet" href='https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700')
		link(rel="stylesheet" href='https://fonts.googleapis.com/css?family=Sintony:400,700')
		title Builder.io
	body
		.layout
			.layout__container
				block main-content
				block footer
	script