body {
  min-width: 1000px;
  margin: 0;
  padding: 0;
  font-family: 'Sintony', sans-serif;
  font-size: 16px;
  line-height: 24px;
}
.wrapper {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1020px;
}
/*Кнопки*/

.btn {
  display: inline-block;
  padding: 23px 84px;
  font-size: 16px;
  line-height: 24px;
  vertical-align: center;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-family: ?;
  cursor: pointer;
  font-family: Arial;
}
.btn-purple {
  background: #382d78;
}
.btn-purple:hover {
  background: #32286c;
}
.btn-purple:active {
  background: #32286c;
  color: #8581a1;
}
.banner .btn {
  background-color: #4edbde;
  width: 220px;
  height: 65px;
  padding: 14px 24px;
  border-radius: 5px;
  border-style: none;
  margin-top: 5px;
  margin-bottom: 45px;
}

/*Общее оформление шапки*/

.main-header {
  background: #a892d0;
  padding-top: 54px;
}
.banner {
  background-color: #a892d0;
  color: #d9caf3;
  padding: 35px 132px 0px 132px;
}
.banner h1 {
  color: rgb(255, 255, 255);
  font-size: 60px;
}
.jumbotron {
  text-align: center;
  padding: 0;
  margin-bottom: 0;
}

/*Меню*/

.nav>li>a {
  padding: 10px 15px;
  font-size: 14px;
  color: #d9caf3;
  font-weight: 600;
  line-height: 1.571;
  font-family: 'Montserrat', sans-serif;
}
.nav>li>a:hover {
  color: rgb(255, 255, 255);
  text-decoration: underline;
}
/*Промо*/

.intro {
  background-color: #ffffff;
  color: #bcc3c9;
  margin:35px 0px 103px 0px;
}
.intro h2 {
  color: #a3adb5;
}
.intro p {
  line-height: 33px;
}
.intro .btn {
  margin-right: 21px;
  margin-bottom: 66px;
}
.intro .btn-active {
  background-color: #a892d0;
  color: #ffffff;
}
.btn-2 {
  background-color: #ffffff;
  color: #b1bad0;
  border: 2px solid #e7eaf1;
}
.Work_with_your_hands {
  background-color: #f3f4f2;
  padding-top: 100px;
  height: 700px;
  color: #a3adb5;
}
.Text1 {
  text-align: left;
}
.Text2 {
}
.btn-work {
  background-color: #af99da;
  max-width: 220px;
  padding: 20px 35px;
  text-align: center;
}
.phone {
  position: relative;
  left: 210px;
  z-index: 1;
}
.features {
  padding-top: 50px;
  padding-bottom: 45px;
  background-color: #f6f6f4;
}
.features .wrapper::after {
  display: table;
  clear: both;
  content: "";
}
.features-title {
  margin: 0;
  font-size: 22px;
  line-height: 24px;
  font-family: Trebuchet MS,Fira Sans,Arial,sans-serif;
}
.features h2 {
  padding-top: 11px;
  padding-bottom: 25px;
  margin: 0;

}
.features-item {
  position: relative;
  float: left;
  width: 360px;
  padding-top: 79px;
  margin-right: 30px;
  text-align: center;
  vertical-align: bottom;
}
.features-icon {
  position: absolute;
  width: 75px;
  height: 70px;
}
.f1 {
  background-image: url("img/fa-archive.png");
  background-repeat: no-repeat;
  top: 0;
  left: 132px;
}

.f2 {
  background-image: url("img/fa-area-chart.png");
  background-repeat: no-repeat;
  top: 0;
  left: 124px;
}

.f3 {
  background-image: url("img/fa-arrows-alt.png");
  background-repeat: no-repeat;
  top: 0;
  left: 125px;
}
.features-item:last-child {
  margin-right: 0;
}
.features-item p {
  padding: 0;
  margin: 0;
  color: #555555;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  font-family: Tahoma,Fira Sans,Arial,sans-serif;
}
/*
}
.button {
    color: #ae98d9;
    border-radius: 5px;
    border: 2px solid #6495ED;
    background-color: #ae98d9;
}

body {
    background-color: #a28cca;
}
.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.btn-group-lg>.btn, .btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}
*/